<form action="/contacto" method="post" class="py-4">
    <h3>Nombre</h3>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input nombre="nombre" type="text" class="form-control" id="InputComentario">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label py-4">Email</label>
        <input nombre="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
    </div>
    <div class="mb-3">
        <label for="comentario" class="form-label">Comentario</label>
        <input nombre="comentario" type="text" class="form-control" id="InputComentario">
    </div>
    <button type="submit" class="boton boton:hover">Enviar</button>
</form>
{{message}}