<!-- INICIO CONTENEDOR FLUIDO -->
<div class="container-fluid">
    <!-- INICIO PORTADA -->
    <div class="portada row align-items-center">
        <div class="col me-5 text-center">
            <img src="../img/perfil.jpg" class="img-fluid perfil" alt="..." />
        </div>
        <div class="col me-5">
            <H2>Sobre Mi</H2>
            <h4 class="fondo-negro-transparente">
                <small class="text-body-secondary; text-center ">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Harum
                    quae repellat dolore alias corrupti eligendi, id, sed provident vero quaerat porro est eos,
                    cumque culpa voluptate
                    deserunt consequatur sunt earum?With faded secondary text</small>
            </h4>
        </div>
    </div>
    <!-- FIN PORTADA -->
    <!-- INICIO TECNOLOGÍAS -->
    <div id="tecnologias" class="row scroll_section, py-4"> {{!--USAR FLEXBOX --}}
        <div>
            <h3>Tecnologías</h3>
        </div>
        <div class="col">Tecno 1</div>
        <div class="col">Tecno 1</div>
        <div class="col">Tecno 1</div>
        <div class="col">Tecno 1</div>
        <div class="col">Tecno 1</div>
        <div class="col">Tecno 1</div>
        <div class="col">Tecno 1</div>
        <div class="col">Tecno 1</div>
        <div class="col">Tecno 1</div>
        <div class="col">Tecno 1</div>
    </div>

    <!-- FIN TECNOLOGIAS -->
    <!-- INICIO PROYECTOS -->
    <div id="proyectos" class="scroll_section py-4"></div>
    <div class="row row alig-items-stretch my-3 staff">
        <div class="col-lg-8 offset-lg-2">
            <div>
                <h3>Proyectos</h3>
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card"> <!--style="width:18rem;" -->
                        <img src="https://placehold.co/50x50" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <a href="#" class="boton boton:hover">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://placehold.co/50x50" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <a href="#" class="boton boton:hover">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://placehold.co/50x50" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <a href="#" class="boton boton:hover">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://placehold.co/50x50" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 4</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <a href="#" class="boton boton:hover">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN PROYECTOS -->
    <div class="row py-5">
        <!-- INICIO CAPACITACIONES -->
        <div id="capacitaciones" class="col scroll_section justify-content-center">
            <div class="accordion accordion-flush, accordion-container">
                <h3>Capacitaciones</h3>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Accordion Item #1
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate
                            the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate
                            the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's
                            imagine
                            this being filled with some actual content.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate
                            the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing
                            more
                            exciting happening here in terms of content, but just filling up the space to make it look,
                            at
                            least at first glance, a bit more representative of how this would look in a real-world
                            application.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate
                            the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing
                            more
                            exciting happening here in terms of content, but just filling up the space to make it look,
                            at
                            least at first glance, a bit more representative of how this would look in a real-world
                            application.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate
                            the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing
                            more
                            exciting happening here in terms of content, but just filling up the space to make it look,
                            at
                            least at first glance, a bit more representative of how this would look in a real-world
                            application.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN CAPACITACIONES -->
        <!-- INICIO CONTACTO -->
        <div id="contacto" class="col scroll_section , me-5">
            <h3>Contacto</h3>
            <div class="mb-3">
                <ul class="redes-sociales list-group list-group-horizontal py-4">
                    <li><a href="https://github.com/Vale706?tab=repositories" target="_blank"><img class="icono-brillo"
                                src="../img/github.svg" alt="Logo" width="42" height="36"
                                class="d-inline-block align-text-top"></a></li>
                    <li><a href="https://www.linkedin.com/in/andrea-segura-607062187/" target="_blank"><img
                                class="icono-brillo" src="../img/linkedin.svg" alt="Logo" width="42" height="36"
                                class="d-inline-block align-text-top ps-3"></a></li>
                    <li><a href="/contacto" target="_blank"><img class="icono-brillo" src="../img/gmail.svg" alt="Logo"
                                width="42" height="36" class="d-inline-block align-text-top ps-3"></a></li>
                </ul>
                <!-- FIN CONTACTO -->

            </div>
        </div>
        {{!-- FIN CONTENT FLUID class="perfil"--}}